section.about
    .wrapper
        .about-block
            .about-block__text
                h2.page__title-h2 Welcome to real state
                p.page__text.page__text_italic In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo, li Nullam dictum felis eu pede mollis pretium.
                p.page__text Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipicing sem neque ispum tempis.
                ul.page__ul
                    li.page__ul-li.page__text_italic The minnow would be lost there
                    li.page__ul-li.page__text_italic Food and up through the ground
                    li.page__ul-li.page__text_italic Days are all share them with me
                    li.page__ul-li.page__text_italic Into the dangerous of a man
            .about-block__img
                .page__img.page__img_big 
                    img(src="assets/img/img-kottedzh.jpg", alt="kottedzh")
                .page__img.page__img_small
                    img(src="assets/img/img-cabin-mountain.jpg", alt="kottedzh")