section.banner
    .banner-block
        .wrapper
            .page__title_over Our customers satisfaction
            h1.page__title-h1 FIND YOUR 
                span.page_color-green DREAM Land Real Estate Smart 
                | Property Developers
            p.page__text 5 bedrooms 2 bath apartment for sale! 2926 Kelley Road,Biloxi, MS 35987
            a.page__btn(href="#form") Get property