section#form.form
    h2.page__title-h2 Find your property
    p.page__text Vivamus elementum semper nisi aenean vulputate eleifend tellus aenean leo ligulal porttitor.
        .wrapper
            .form-block
                form.page__form(action="")
                    .select-box
                        label.page__lebel Bedroom
                        select.page__select
                            option Any bedroom
                            option Option 1
                            option Option 2
                            option Option 3
                            option Option 4
                            option Option 5
                        
                    .select-box
                        label.page__lebel Bedroom
                        select.page__select
                            option Any bedroom
                            option Option 1
                            option Option 2
                            option Option 3
                            option Option 4
                            option Option 5
                      
                    .select-box
                        label.page__lebel Bedroom
                        select.page__select
                            option Any bedroom
                            option Option 1
                            option Option 2
                            option Option 3
                            option Option 4
                            option Option 5
                        
                    .select-box
                        label.page__lebel Bedroom
                        select.page__select
                            option Any bedroom
                            option Option 1
                            option Option 2
                            option Option 3
                            option Option 4
                            option Option 5
                        
                    .select-box
                        label.page__lebel Bedroom
                        select.page__select
                            option Any bedroom
                            option Option 1
                            option Option 2
                            option Option 3
                            option Option 4
                            option Option 5
                        
                    .select-box
                        label.page__lebel Bedroom
                        select.page__select
                            option Any bedroom
                            option Option 1
                            option Option 2
                            option Option 3
                            option Option 4
                            option Option 5
                       
                    .select-box
                        label.page__lebel Bedroom
                        select.page__select
                            option Any bedroom
                            option Option 1
                            option Option 2
                            option Option 3
                            option Option 4
                            option Option 5
                       
                    p.page__range
                        input(type="range" min='0' max='100') 