section#property.property
    .wrapper
        .property-block
            .property-block__img
                 img.page__img(src="assets/img/img-badroom.jpg", alt="s")
            .property-block__text
                h2.page__title-h2 Property details
                p.page__text A un Angleso it va semblar li simplificat Angles, quam un skep tic Cambridge amico dit me que Occidental es.
                ul.page__ul
                    li.page__ul-li.page__text_italic Royal Touch Painting
                    li.page__ul-li.page__text_italic Full Furnished
                    li.page__ul-li.page__text_italic Attachd Bath Room
                    li.page__ul-li.page__text_italic Swimming Pool
                    li.page__ul-li.page__text_italic Attach With Fridge
                    li.page__ul-li.page__text_italic Large Play Ground
                button.page__btn More information