.social
    a.social__icon.social__icon_fb-white(href="")
    a.social__icon.social__icon_tw-white(href="")
    a.social__icon.social__icon_in-white(href="")
    a.social__icon.social__icon_inst-white(href="")
    a.social__icon.social__icon_vimeo-white(href="")
    