section.testimonial
        .testimonial_opacity
        .wrapper
            .testimonial-block
                h2.page__title-h2 our testimonial
                p.page__text Vivamus elementum semper nisi aenean vulputate eleifend tellus aenean leo ligulal porttitor.
                
                    .testimonial-block__info
                        .testimonial-block__info-items
                            .testimonial-block__info-items-item
                                span.page__number 620
                                span.page__subtitle Projects
                            .testimonial-block__info-items-item
                                span.page__number 140
                                span.page__subtitle Cities
                            .testimonial-block__info-items-item
                                span.page__number 2310
                                span.page__subtitle House Built
                            .testimonial-block__info-items-item
                                span.page__number 1200
                                span.page__subtitle Workers
                    .testimonial-block__text
                        h2.page__title-h2.page__title-h2_big 1450+ 
                            span.page__subtitle Happy Clients
                        h2.page__title_sub “A Quality that related to your heart”
                        p.page__text Li nov lingua franca va esser  simplic e regulari quam li esser existent Europan lingues. It va esser tam simplic quam lit li Occidental in fact, it va esser Occidental.
                        .testimonial-block__text-conteiner
                            .page__img  
                                img(src="assets/img/img-agent-5.jpg", alt="s")
                            .testimonial-block__text
                                h3.page__title-h3 Eric Widget
                                p.page__text Broker Associate